.success {
  color: green;
  border: 3px solid green;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(204, 211, 211);
}
.error {
  color: rgb(255, 0, 0);
  border: 3px solid rgb(255, 0, 0);
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(204, 211, 211);
}